:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --bg-main-dark: hsl(217, 54%, 11%);
    --bg-card-dark: hsl(216, 50%, 16%);
    --line-dark: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

@font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit-Medium.ttf");
    src: url("/fonts/Outfit-SemiBold.ttf");
    src: url("/fonts/Outfit-Light.ttf");
}

body {
    margin: 0;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    min-height: 100vh;
}

main {
    background-color: var(--bg-main-dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section {
    background-color: var(--bg-card-dark);
    margin: auto;
    padding: 24px;
    width: min(300px, 100%);
    box-sizing: border-box;
    border-radius: 1rem;
}

.details,
.details>div {
    display: flex;
    align-items: center;
}

.details {
    justify-content: space-between;
    font-weight: 600;
}

.details>div {
    gap: 4px;
}

.dim {
    color: var(--soft-blue);
}

.effect {
    color: var(--white);
}

hr {
    height: 1px;
    border: none;
    background-color: var(--soft-blue);
    margin: 12px auto;
}

hr+div {
    display: flex;
    align-items: center;
}

img[alt="image-equilibrium"] {
    border-radius: inherit;
    position: relative;
    width: inherit;
}

.image-container {
    position: relative;
    border-radius: inherit;
    width: calc(300px - 24px * 2);
    height: calc(300px - 24px * 2);
    cursor: pointer;
}

.image-container::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: var(--cyan);
    content: "";
    z-index: 1;
    opacity: 0;
}

.image-container::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    content: "";
    z-index: 1;
    opacity: 0;
    background-image: url('images/icon-view.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.image-container:hover::before {
    opacity: 0.4;
}

.image-container:hover::after {
    opacity: 1;
}

img[alt="image-avatar"] {
    height: 30px;
    border: 1px solid var(--white);
    border-radius: 50%;
    margin-right: 12px;
}

header {
    font-weight: 600;
    font-size: 20px;
}

header+p {
    margin: 14px 0;
}

p {
    margin: 0;
}

section>header,
section>p,
section>.details,
section>hr {
    margin-top: 24px;
}

footer {
    color: var(--line-dark);
    filter: brightness(2);
    text-align: center;
    padding: 4px;
}

.effect:hover {
    color: var(--cyan);
    cursor: pointer;
}